@import url(fonts.css);

/* Hard */

body {
    padding-top: 100px;
}

h1 {
    font-family: Stolzl;
    font-size: 48px;
    font-weight: 500;
}

h2 {
    color: #000;
    font-family: Stolzl;
    font-size: 32px;
    font-weight: 500;
}

h2 span {
    color:#105FD3;
}

h3 {
    color: #000;
    font-family: Stolzl;
    font-size: 24px;
    font-weight: 500;
}

h4 {
    color: #000;
    font-family: Stolzl;
    font-size: 18px;
    font-weight: 300;
}

h5 {
    color: #000;
    font-family: Stolzl;
    font-size: 16px;
    font-weight: 400;
}


.btn-blue {
    border-radius: 20px;
    background-color: #105FD3; 
    color: #FFF;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.btn-blue svg, .btn-white svg {
    margin-right: 15px;
}

.btn-blue:hover {
    background-color: #3c81e9;
    transition: 0.2s;
    color:#fff;
}

.btn-white {
    border-radius: 20px;
    background-color: #ffffff; 
    color: #105FD3;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.2s; 
    padding: 0 15px;
}

.btn-white:hover {
    background-color: #e3e1ff;
    transition: 0.2s;
}

.consult{
    width: 260px;
}

.input_classic {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #105FD3;
    background: #FFF;
    color: #105FD3;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 300;
    padding-left: 13px;
    outline: none;
}

.input_classic::placeholder {
    color: #105FD3;
}

.policy_text {
    margin-top: 5px;
    font-size: 12px !important;
}
.policy_text a {
    color: #105FD3;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 95px;
    box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

.header-top {
    width: 100%;
    height: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
}

.header-burger {
    display: none;
}

.header-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-submit {
    position: relative;
    
}

.search-submit::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

.search-submit {
    padding: 10px 30px;
}

.header-top-container__nav {
    display: flex;
}

.header-top__navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 32px;
    align-items: center;
}

.header-top__navbar ul li {
    list-style: none;
    margin-right: 30px;
}

.header-top__navbar ul li a {
    font-family: Stolzl;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    transition-duration: 0.1s;
}

.header-top__navbar ul li a:hover {
    color: #105FD3;
    transition-duration: 0.1s;
}

/* .header-top__navbar ul li:last-child {
    margin-right: 0;
} */

.header-top__search {
    margin-top: 3px;
}

.header-top__search .search-field{
    border: none;
    width: 250px;
    background-color: transparent;
    outline: none;
    color: #105FD3 !important;
    font-family: Stolzl;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 6px;
    border-bottom: 1px solid #105FD3;
}

.header-top__search .search-field::placeholder{
    color: #105FD3 !important;
    font-family: Stolzl;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 6px;
}

.header-top__address {
    font-family: Stolzl;
    font-size: 12px;
    font-weight: 300;
}

.header-top__address a {
    color: #000;
    text-decoration: none;
    height: 32px;
    display: flex;
    align-items: center;
}

.header-top__address a:hover {
    color: #105FD3;
    transition-duration: 0.1s;
}

.header-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bottom-container__logonav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 63px;
}

.header-bottom__logo {
    align-items: center;
}

.header-bottom__navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 26px;
    padding: 0;
}

.header-bottom__navbar ul li {
    list-style: none;
    margin-right: 50px;
}

.header-bottom__navbar ul li a {
    color: #000;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition-duration: 0.1s;
}

.header-bottom__navbar ul li a:hover {
    color: #105FD3;
    transition-duration: 0.1s;
}

.header-bottom-container__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.link_account svg, .link_cart svg {
    height: 22px;
    width: 22px;
}

.link_account, .link_cart {
    text-decoration: none;
}

.link_account {
    margin-right: 10px;
}

.header-bottom__phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-left: 28px;
}

.header-bottom__phone a {
    color: #105FD3;
    font-family: Stolzl;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
    text-decoration: none;
}

.header-bottom__phone span{
    color: #000;
    font-family: Stolzl;
    font-size: 12px;
    font-weight: 300;
}


.banner {
    min-height: 530px;
    margin-top: 15px;
}
.banner-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

.banner-slider {
    width: 100%;
    max-width: 940px;
    min-height: 380px;
    padding-right: 10px;
    z-index: 1;
}

.banner-slider_item {
    width: auto;
    min-height: 390px !important;
    height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between !important;
    margin-right: 10px;
}

.banner-form {
    width: 100%;
    max-width: 360px;
    height: 390px;
    border-radius: 15px;
    background: linear-gradient(157deg, #B2D6FF 12.45%, #E5F0FF 93.69%), #FFF;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.10);
    padding: 5px;
}

.banner-form h3 {
    color: #000;
    text-align: center;
    font-family: Stolzl;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 16px;
}

.banner-form h3 span {
    color:#105FD3;
}

.banner-form p {
    color: #000;
    text-align: center;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 300;
}

.banner-inputs {
    text-align: center;
    padding: 0 20px;
}

.banner-form .input_classic {
    width: 100%;
    margin-bottom: 10px;
}

.banner-form .consult{
    margin: 0 auto;
}

.banner-slider_item h1{
    color: #fff;
}

.banner-slider_item {
    padding: 60px 50px;
}

.slick-dotted.slick-slider {
    margin-bottom: 20px !important;
}

.banner-item_links {
    color: #FFF;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-item_links a{
    color: #FFF;
    text-decoration: none;
}

.banner-item_links a:hover{
    color: #a6caff;
}

.banner-slider_item .btn-blue {
    width: 230px;
    cursor: pointer;
}

.slick-dots li img:nth-child(1) {
    display: block;
}

.slick-dots {
    bottom: -10px !important;
}

.slick-dots li img:nth-child(2) {
    display: none;
}

.slick-dots li.slick-active img:nth-child(1) {
    display: none;
}

.slick-dots li.slick-active img:nth-child(2) {
    display: block;
}

.slick-dots li {
    width: 90px !important;
}

.lead-banner {
    min-height: 120px;
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(270deg, #19D1FA 3.61%, #32A9FF 47.09%, #093FFF 94.41%);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.10);
    padding: 40px 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.lead-banner h2 {
    color: #FFF;
    text-align: right;
    font-family: Stolzl;
    font-size: 32px;
    font-weight: 500;
}

.advantages {
    padding: 55px;
}

.advantages-title {
    color: #000000;
    text-align: center;
}

.advantages-title span{
    color: #105FD3;
}

.advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
}

.advantages-item {
    min-height: 150px;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.advantages-item h4 {
    font-weight: 300;
    font-size: 20px;
}

.advantages-item span {
    color: #043D92;
    font-family: Stolzl;
    font-size: 62px;
    font-weight: 700;
}

.service {
    padding: 60px 0;
    background: linear-gradient(270deg, rgba(25, 209, 250, 0.25) 3.61%, rgba(50, 169, 255, 0.25) 47.09%, rgba(9, 63, 255, 0.25) 94.41%);
}

.service-title {
    margin-bottom: 45px;
    text-align: center;
}

.service-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    max-width: 422px;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #105FD3;
    border-radius: 10px;
    background: #E8F1FF;
    margin-bottom: 17px;
    padding: 25px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
}

.service-item h3:hover {
    color: #105FD3;
    transition: 0.1s;
}

.service-item h3 {
    z-index: 1;
    transition: 0.1s;
}

.service-item div {
    width: 50px;
    height: 50px;
    background-color: #105FD3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: 0.1s;   
}

.service-item div:hover {
    background-color: #4283e6;
    transition: 0.1s;
}

.service-item:hover {
    box-shadow: 0px 0px 15px #BDD8FF;
    transition: 0.2s;
}

.service-item__imgbg {
    position: absolute;
    width: 300px;
    left: 45%;
    top: 30%;
}


.catalog-main {
    padding: 50px 0;
}

.catalog-main__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.catalog-main__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog-main__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    min-height: 360px;
    max-width: 280px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #105FD3;
    background: #f2f7ff;
    margin-right: 15px;
    padding: 20px 0px 0px 15px;
    position: relative;
    overflow: hidden;
}

.catalog-main__item:last-child {
    margin-right: 0;
}

.catalog-main__item h3 a {
    position: relative;
    color: #000;
    font-family: Stolzl;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    line-height: 3px;
}

.catalog-main__item img {
    position: absolute;
    top: 25%;
    right: 20;
    max-width: 230px;
    max-height: 230px;
}

.catalog-main__item .btn-radius {
    position: absolute;
    bottom: 0%;
    right: 0;
    width: 200px;
    height: 40px;
    border-radius: 10px 0 9px 0;
    background-color: #105FD3;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border-left: 1px solid #105FD3;
    border-top: 1px solid #105FD3;
    transition: 0.2s;
}

.catalog-main__item .btn-radius:hover {
    color: #105FD3;
    background-color: #ffffff;
    transition: 0.2s;
}

.catalog-main__title a {
    width: 220px;
}

.slide-product__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide-product__btn-v1, .slide-product__btn, .slide-product__btn-v2, .news-product__btn-v2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
}

.slide-product__btn-v1 a, .slide-product__btn a, .slide-product__btn-v2 a, .news-product__btn-v2 a {
    width: 220px;

}

.btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-wrap button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #105FD3;
    background: transparent;
    margin: 0 5px;
    transition: 0.1s;
}

.btn-wrap button svg {
    fill:#105FD3;
}

.btn-wrap button:hover {
    background-color: #105FD3;
    transition: 0.1s;
}

.btn-wrap button:hover svg {
    fill: #fff;
}

.slide-product {
    padding: 60px 0;   
}

.slide-product-v1 {
    background: linear-gradient(270deg, #AFD9FF 3.61%, #EBF0FF 47.09%, #C3E2FF 94.41%);
}


.slide-product__slider, .slide-product__slider-v2{
    margin: 0px -15px;
    padding: -30px;
    overflow: visible !important;
}

.slide-product__item {
    width: 200px;
    max-height: 360px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #BDD8FF;
    background-color: #fff;
    padding: 11px 11px 0 11px;
    margin: 30px 15px;
}

.slide-product__item img {
    max-width: 210px;
    max-height: 210px;
}

.slide-product__item h4 {
    margin-bottom: 0;
    line-height: 12px !important;
    height: 30px;
}

.slide-product__item h4 a{
    color: #000;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s;
}

.slide-product__item h4 a:hover {
    color:#105FD3;
    transition: 0.1s;
}

.slide-category {
    color: #B4B4B4;
    font-family: Stolzl;
    font-size: 10px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 17px;
}

.slide-cost {
    display: block;
    color: #000;
    font-family: Stolzl;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

.slide-product__cartbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.slide-add-cart {
    height: 43px;
    margin-left: -11px;
    border-radius: 0px 10px 0px 10px;
    border: 1px solid #105FD3;
    background: #FFF;
    padding: 8px 37px 8px 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.slide-add-cart svg {
    fill: #105FD3;
}

.slide-add-cart:hover {
    height: 53px;
    background-color: #105FD3;
    margin-top: -4px;
    transition: 0.2s;
    border: 1px solid #fff;
    z-index: 1;
}

.slide-add-cart:hover svg {
    fill: #fff;
}

.slide-more {
    height: 43px;
    border-radius: 10px 0px;
    padding: 0px 30px;
    margin-left: -9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #105FD3;
    color: #FFF;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s;
}

.slide-more:hover {
    height: 53px;
    border: 1px solid #105FD3;
    background: #fff;
    color:#105FD3;
    margin-top: -3px;
    margin-bottom: -3px;
    transition: 0.2s;
}

.btn-mobile {
    display: none;
}

.needhelp {
    padding: 60px 0;
}

.needhelp-container { 
    border-radius: 15px;
    background: linear-gradient(270deg, #19D1FA 3.61%, #32A9FF 48.54%, #093FFF 94.41%);
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.10);
    display: flex;
    padding: 30px 60px;
    flex-direction: row;
    justify-content: space-between;
}

.needhelp-title {
    max-width: 450px;
}

.needhelp-title h2, .needhelp-title p {
    color: #FFF;
}

.needhelp-form form{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 200px;
    max-width: 260px;
}

.needhelp-form form input {
    height: 40px;
    border-radius: 20px;
    padding: 11px 17px;
    border: none;
    margin-bottom: 14px;
}

.needhelp-form form input::placeholder {
    color: #105FD3;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 300;
}

.needhelp-form form p {
    color: #FFF;
    text-align: center;
    font-family: Stolzl;
    font-size: 11px;
    font-weight: 300;
}

.needhelp-form form p a {
    color: #105FD3;
}

.needhelp-form form button {
    border-radius: 20px;
    background: linear-gradient(268deg, #7000FF 17.11%, #2440D0 87.17%);  
    color: #FFF;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400; 
    border: none;
    height: 40px;
}

.needhelp-form form button svg {
    margin-right: 7px;
}

.slide-product-v2 {
    background: linear-gradient(93deg, #D1EFFF 3.64%, #FFF 46.03%, #D2FEFB 88.43%);
}

.works {
    padding: 60px 0 50px 0;
}

.work-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-title .slide-product__btn-v2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-title .slide-product__btn-v2 .btn-wrap {
    margin-right: 10px;
}

.work-slider {
    margin: 20px -15px 20px 0px;
    width: 100%;
}

.work-slider__item {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    max-height: 220px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(136, 136, 136, 0.30);
    margin: 10px 10px;
}

.work-slider__item-img {
    width: 220px;
    height: 220px;
    background-size: cover !important;
    background-position: 50% 0 !important;
    border-radius: 10px 0 0 10px;
}

.work-slider__item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-item__name {
    color: #000;
    font-family: Stolzl;
    font-size: 15px;
    font-weight: 500;
    padding: 20px 15px 0px 15px;
    text-decoration: none;
    margin: 0;
}

.work-slider__item-text ul {
    margin: 0;
    padding: 0 15px 0 15px;
}

.work-slider__item-text ul li {
    list-style: none;
    color: #888;
    font-family: Stolzl;
    font-size: 12px;
    font-weight: 300;
}

.btn-blue-work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-decoration: none;
    color: #FFF;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(268deg, #105FD3 17.11%, #458AEE 87.17%);
    transition: 0.2s;
}

.btn-blue-work:hover {
    opacity: 0.8;
    color: #fff;
    transition: 0.2s;
}

.news-product__btn-v2 .btn-blue {
    width: 240px;
    margin-left: 10px;
}

.news-container {
    background: linear-gradient(270deg, #AFD9FF 3.61%, #EBF0FF 47.09%, #C3E2FF 94.41%);
    padding: 60px 0 !important;
}

.news-title {
    display: flex;
    justify-content: space-between;
}


.news-slider-item {
    min-height: 280px !important;
    width: 460px;
    background-position: 50% 50%;
    background-size: auto !important;
    border-radius: 10px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    margin: 10px 10px;
}

.news-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    
}

.news-info li img {
    display: inline;
}

.news-info li {
    list-style: none;
    color: #FFF;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 2px;
}

.news-info li svg {
    margin-top: -3px;
}

.news-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-bottom h3 {
    margin-bottom: 20px;
}

.news-bottom h3 a{
    color: #FFF;
    font-family: Stolzl;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}

.news-bottom h3 a:hover {
    color:#c1daff;
    transition: 0.2s;
}

.news-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.news-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Stolzl;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    padding: 2px 10px;
}

.news-tag:hover {
    background-color: #105FD3;
    border: none;
    padding: 3px 11px;
    color: #fff;
}

.news-detail {
    height: 40px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px 0px;
    background: #06F;
    color: #FFF;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s;
}

.news-detail:hover {
    color: #105FD3;
    background-color: #fff;
    border-right: 1px solid #105FD3;
    border-bottom: 1px solid #105FD3;
    transition: 0.2s;
}

.tags-news {
    display: flex;
    flex-wrap: wrap; 
}

.news-tag {
    margin-right: 10px;
    margin-bottom: 10px;
}

.news-container-v2 {
    background: #fff;
    padding: 60px 0 !important;
}

.news-tag {
    margin-top: 10px;
    margin-bottom: 0px;
}

.review {
    padding: 30px 0;
    background: linear-gradient(90deg, #e0e6ff 0%, #e0e6ff 0%, rgba(228, 247, 255, 0.30) 48.96%, #B7CEF6 100%);
}

.review-container-block {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.review-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 530px;
    background-color: #fff;
    border-radius: 15px;
    padding: 50px;
}

.review-text h2 {
    margin-bottom: 15px;
}

.review-text p {
    display: block;
    margin: 0 auto;
    max-width: 380px;
    color: #000;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
}

.review-text .btn-blue {
    margin: 0 auto;
    width: 220px;
}

.review-api div{
    min-height: 750px;
    height: 100%;
    min-width: 550px;
    width: 100%;
}

.contact {
    width: 100%;
}

.contact .maps iframe{
    width: 100%;
}


.footer {
    background: #1E1E1E;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
    min-height: 260px;
}

.footer-list {
    display: flex;
    flex-direction: row;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 200px;
}

.footer-logo p {
    display: block;
    color: #FFF;
    font-family: Stolzl;
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto 24px auto;
}

.footer-logo ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-logo ul li {
    list-style: none;
    margin-right: 8px;
}

.footer-logo ul li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #105FD3;
    border-radius: 14px;
    transition: 0.2s;
}

.footer-logo ul li a:hover {
    background-color: #5990e4;
    transition: 0.2s;
}

.footer-logo ul li a img {
    width: 20px;
    height: 20px;
}

.logo_footer {
    margin-bottom: 13px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
}

.footer-list ul {
    margin: 0;
    padding: 0;
}

.footer-list ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-list ul li a {
    color: #FFF;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s;
}

.footer-list ul li a:hover {
    color: #105FD3;
    transition: 0.2s;
}

.footer-link {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    max-width: 350px;
    width: 100%;
}

.footer-link .footer-tel {
    color: #FFF;
    text-align: right;
    font-family: Stolzl;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
}

.footer-link .footer-tel:hover {
    color:#105FD3;
}

.footer-link .footer-tel {
    margin-bottom: 2px;
}

.footer-link span {
    color: #FFF;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
}

.footer-link span {
    margin-bottom: 20px;
}

.footer-link .btn-white {
    width: 215px;
}

.footer-bottom {
    border-top: 1px solid #464646;
    padding: 8px 0 12px 0;
}

.footer-bottom span, .footer-bottom a {
    color: #FFF;
    font-family: Stolzl;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.header-bottom__link a svg {
    fill: #105FD3;
}














@media only screen and (max-width: 1400px) {
    .banner-slider {
        max-width: 800px;
    }

    .service-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .service-item {
        margin-right: 17px;
    }

    .slide-product__slider, .slide-product__slider-v2 {
        margin: 0 -5px;
    }

    .slide-product__item {
        margin: 30px 5px;
    }

    .slide-product__item img {
        max-width: 190px;
    }

    .slide-more {
        padding: 12px 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .banner-slider {
        max-width: 600px;
    }
    .header-top__navbar ul li {
        list-style: none;
        margin-right: 20px;
    }
    .header-bottom__navbar ul li {
        list-style: none;
        margin-right: 30px;
    }

    .catalog-main__slider {
        justify-content: center;
        flex-wrap: wrap;
    }

    .catalog-main__item {
        max-width: 400px;
        width: 100%;
        margin: 8px;
        padding: 20px 15px 0 15px;
    }
    .catalog-main__item:last-child {
        margin: 8px;
    }

    .catalog-main__item img {
        top: 15%;
        max-width: 330px;
        max-height: 330px;
    }

    .review-container-block {
        flex-direction: column;
    }

    .review {
        height: 1150px;
        padding-bottom: 30px;
    }

    .review-text {
        margin: 0 auto 30px auto;
    }

    .review-api {
        margin: 0 auto;
        height: 300px !important;
        width: 600px;
    }

    .slide-more {
        padding: 12px 25px;
    }

    .footer-link {
        max-width: 250px;
    }

}

@media only screen and (max-width: 995px) {
    body {
        padding-top: 60px;
    }

    .header {
        height: 60px;
    }
    
    .header-bottom__navbar {
        display: none;
    }

    .header-top {
        display: none;
    }

    .header-bottom__link {
        display: none;
    }

    .header-bottom-container {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .banner-container {
        flex-direction: column;
    }

    .banner-form {
        max-width: 900px;
        height: auto;
        padding: 15px;
    }

    .banner-slider {
        max-width: 900px;
        padding-right: 0 !important;
    }

    .banner-slider_item {
        margin: 0 5px;
        max-width: 500px;
    }
    
    /* Burger-menu */

    .header-burger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        width: 100%;
    }

    .menu-items {
        display: flex;
    }

    .header-burger li {
        list-style: none;
        text-align: left;
    }

    .header-burger a {
        text-decoration: none;
        color: #000;
        font-family: Stolzl;
        font-size: 14px;
        font-weight: 400;
        transition-duration: 0.1s;
        padding: 1px;
    }

    .header-burger a:hover{
        font-weight: 400;
    }

    .header-burger {
        display: block;
        position: relative;
        height: 60px;
    }

    .header-burger .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .header-burger .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-burger .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    .header-burger .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .header-burger .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .header-burger .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .menu-items {
        padding-top: 80px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: auto;
        width: 100%;
        transform: translate(10%, -100%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        padding-bottom: 30px;
        transition: transform 0.5s ease-out;
        text-align: center;
        box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        z-index: 50;
        
    }

    .menu-items li {
        margin-bottom: 20px;
    }

    .menu-items li a{
        font-size: 16px;
    }

    .header-burger input[type="checkbox"]:checked ~ .menu-items {
        transform: translateY(-0%);
        transform: translateX(10%);
        background-color: #fff;
    }
    
    .header-burger input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);   
    }
    
    .header-burger input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    
    .header-burger input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    
    .header-burger input[type="checkbox"]:checked ~ .header-bottom-container__logonav{
        display: none;
    }

    .burger_address a{
        font-size: 12px;
        font-weight: 300 !important;
        text-decoration: none;
        transition-duration: 0.1s;
        text-align: left !important;
    }

    .burger_phone a{
        color: #105FD3;
        font-family: Stolzl;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.72px;
        text-decoration: none;
        text-align: left !important;
    }

    .header-bottom__phone {
        text-align: left;
    }

    .header-bottom__phone {
        margin-left: 0;
        margin-right: 20px;
    }

    .burger_time {
        margin-bottom: 50px !important;
    }

    .burger_time span {
        color: #000;
        font-family: Stolzl;
        font-size: 12px;
        font-weight: 300;
    }
   
    /* End burger menu */

    .header-bottom__phone {
        min-width: 160px;
    }

    .service-item {
        max-width: 330px;
    }

    .lead-banner {
        margin-top: 30px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .lead-banner .btn-white {
        margin-top: 30px;
        width: 300px;
    }

    .advantages-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .advantages-item {
        min-width: 300px !important;
        margin-bottom: 50px;
    }

    .needhelp-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .needhelp-title {
        width: 100%;
        max-width: 700px;
        margin-bottom: 30px;
    }

    .needhelp-form form {
        max-width: 500px;
        width: auto;
    }

    .catalog-main__item {
        max-width: 280px;
    }

    .catalog-main__item img {
        top: 25% !important;
        max-width: 240px;
        max-height: 240px;
    }

    .footer-top {
        flex-wrap: wrap;
    }

    .footer-logo {
        flex-direction: row;
        width: 100%;
        max-width: 1000px;
    }

    .footer-logo p {
        max-width: 200px;
    }

    .footer-list {
        padding: 20px 0;
        flex-direction: column;
        max-width: 200px;
    }

    .footer-link {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 767px) {

    .header-bottom__phone span {
        display: none;
    }

    .banner-slider_item {
        padding: 30px 20px !important;
    }

    .lead-banner h2 {
        text-align: center;
    }

    .slide-product__btn-v1 .btn-blue, .news-product__btn-v2 .btn-blue, .slide-product__btn .btn-blue, .news-product__btn .btn-blue {
        display: none;
    }

    .slide-product__btn-v1, .slide-product__btn, .news-product__btn-v2, .slide-product__btn-v2, .news-product__btn {
        width: auto;
    }

    .news-slider-v2, .news-slider {
        padding: 20px 0;
    }

    .slide-more {
        padding: 12px 18px;
    }

    .slide-add-cart {
        padding: 8px 31px;
    }

    .slide-product__item {
        max-width: 360px;
    }

    .slide-cost {
        font-size: 14px;
    }

    .btn-mobile {
        display: flex;
        margin: 0 auto;
        width: 260px;
    }

    .work-title .slide-product__btn-v2 .btn-blue{
        display: none;
    }

    .review-text {
        width: auto !important;
    }

    .review-api {
        width: 100%;
    }

    .review-api div {
        min-width: 360px !important;
    }

    .review-api div frame{
        margin: 0 auto;
        max-width: 300px !important;
        width: 100% !important;
        width: 600px;
    }
}

@media only screen and (max-width: 576px) {

    .slide-more {
        padding: 12px 17px;
    }

    .needhelp-container {
        padding: 30px;
    }

    .catalog-main__item {
        max-width: 700px;
        min-height: 130px !important;
    }

    .catalog-main__item h3 a {
        width: 100%;
        text-align: center;
        z-index: 1;
    }

    .catalog-main__item img {
        display: none;
        left: 18%;
        top: 15% !important;
        max-width: 240px;
        max-height: 240px;
    }

    .catalog-main__title a{
        display: none;
    }

    .catalog-main__title{
        justify-content: center;
    }

    .service-item {
        max-height: 230px;
    }

    .banner-slider {
        margin-bottom: 25px;
    }

    .banner-slider_item {
        max-width: 335px;
    }
}

@media only screen and (max-width: 500px) {

    .header-bottom__phone {
        display: none;
    }

    .slick-dots {
        display: none !important;
    }

    .service-item {
        margin-right: 0px !important;
    }

    .work-slider {
        padding: 0 0px;
        margin-right: -10px;
        margin-left: -10px;
    }

    .work-slider__item {
        flex-direction: column;
        width: auto;
        min-height: 300px !important;
        margin-right: 10px;
        margin-left: 10px;
    }

    .work-slider__item-img {
        width: auto;
        height: 200px !important;
        border-radius: 10px 10px 0 0;
    }

    .work-item__name {
        margin-top: -10px;
        margin-bottom: 10px !important;
    }

    .btn-blue-work {
        border-radius: 0 0 10px 10px;
        margin-top: 20px;
    }
    .news-slider-item {
        min-height: 370px !important;
        height: auto !important;
    }
    .news-bottom {
        justify-content: left;
    }

    .news-button {
        flex-direction: column;
        align-items: start;
    }
    .tags-news {
        flex-wrap: wrap;
        margin-bottom: 5px;
    }
    .news-tag {
        margin-bottom: 10px;
    }

    .news-detail {
        width: 100%;
        margin: 0;
    }

    .news-detail {
        border: none;
    }

    .news-detail {
        margin-top: 5px;
        border-radius: 10px 10px 10px 10px;
    }

    .review {
        height: 1215px !important;
    }

    .footer-logo {
        flex-direction: column;
    }

    .footer-logo p {
        max-width: 350px;
    }

    .footer-list {
        max-width: 500px;
        align-items: center;
        text-align: center;
    }

    .footer-logo ul {
        padding: 0;
    }

    .footer-link {
        align-items: center;
        max-width: 500px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .footer-bottom span {
        margin-bottom: 10px;
    }
}





@media (prefers-color-scheme: dark) {
    body {
        background-color: #0e2431 !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
    .header-top__navbar ul li a:hover{
        color:#587cff !important;
    }
    .header-bottom__navbar ul li a:hover{
        color:#587cff !important;
    }
    .header-bottom__link a:hover svg{
        fill: wheat !important;
    }
    .header-bottom__phone a:hover{
        color: #fff;
    }
    .header {
        background-color: #0c2431;
        box-shadow: 0px 0px 20px 0px #08161e;
    }
    .hamburger-lines span{
        background-color:#99C8FF !important;
    }
    .menu-items {
        background-color: #0c2431 !important;
    }
    .menu-items li a, .menu-items li span {
        color: #fff;
    }
    .burger_phone a{
        color: #105FD3 !important;
    }
    .header-menu li a{
        color: #fff !important;
    }
    .header-top__address a {
        color: #fff;
    }
    .header-bottom__phone span {
        color: #fff;
    }
    .banner-form {
        background: linear-gradient(89deg, #0E2431 -0.77%, #102D47 99.53%);
        box-shadow: 0px 0px 14px 0px #153243;
    }
    .banner-form p, .banner-form h3 {
        color: #fff;
    }
    .lead-banner {
        background: linear-gradient(162deg, #0E2431 12.25%, #1E455C 89.52%);
    }
    .advantages-title, .catalog-main__item h3 a {
        color: #fff;
    }
    .service {
        background: linear-gradient(162deg, #132E3F 12.25%, #052B42 89.52%);
    }
    .service-item, .catalog-main__item {
        background: linear-gradient(90deg, #0D1A21 0.28%, #042031 99.7%);
        border: none;
        transition: 0.2s;
    }
    .service-item:hover, .catalog-main__item:hover, .work-slider__item:hover {
        box-shadow: 0px 0px 14px 0px #050c10 !important;
        transition: 0.2s;
    }
    .slide-product-v1, .slide-product-v2, .news-container {
        background: linear-gradient(162deg, #132E3F 12.25%, #052B42 89.52%);
    }
    .slide-product__item {
        box-shadow: none;
    }
    .needhelp {
        background-color: #042031;
    }
    .needhelp-container {
        background: linear-gradient(89deg, #0E2431 -0.77%, #102D47 99.53%);
    }
    .work-slider__item {
        background-color: #fff;
        box-shadow: 0px 0px 14px 0px #0b2736 !important;
    }
    .news-container-v2 {
        background: #0b212f;
    }
    .review {
        background: linear-gradient(162deg, #132E3F 12.25%, #052B42 89.52%);
    }
    .review-text {
        background: #0b212f;
    }
    .review-text p {
        color: #fff;
    }
    .logo_black{
        display: none;
    }
    .logo_white {
        width: 70px !important;
    }
    .footer {
        background: #0A1D27;
    }
  }

  @media (prefers-color-scheme: light) {
    .logo_white {
        display: none !important;
    }
  }